.navbar ul {
    margin: 0;
    padding: 0;
    
}
.active {
    color: black;  
}

span{
    color: #DC4D01;
    font-weight: bold;
    font-family: Helvetica;

}



h1 {
    color: orangered;
    font-weight: bold;
    font-size: 60px;
    font-family: Arial;
}
body {
    font-family: helvetica;
    
}

div .button1,.button2{
    background-color: orangered;
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    
}
.button1,.button2 {
    color: white;
}

.cards {
    width: 300px;
}


